
/* html elements */

body {

    font-family:"Montserrat";
    text-align: center;
}

h1, h2, h3 {

    font-weight: 900;
    line-height: 1.5;
}

h1 {
    
    font-size: 3rem;
    color:white;
}

h3 {

    font-size: 1.5rem;
}


h2 {
    
    font-size: 3rem;
}


p {

    color:#8f8f8f;
}


/* broad classes */

.container-fluid {

    padding: 7% 15%;
}

.colored-section {

    background-color:#ff4c68;
    color:white;
}

.white-section {

    background-color:#fff;
}


/* title section */

#title .container-fluid {

    padding: 3% 15%;
    text-align: left;

}


.navbar{
    
    padding-left:0%;
    margin: 0px 120px 60px 0px;
}



.navbar-brand {

    font-family: "Ubuntu";
    font-size: 2rem;
    
}

.nav-item {

    padding: 0 18px;
    
}

.nav-link {

    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    
}

#IphoneImage {

    transform: rotate(20deg);
    width: 60%;
    height: auto;
    right: 30%;
    position:absolute;

}



.download-buttons {

    margin: 5% 3% 3% 0;
}


/* feature section */

#features {
  
    position: relative;

}


#features i {

    color: #ef8172;
    margin-bottom: 35px;
}

#features i:hover {

    color: #ff4c68;
}


/* testimonial section */

#testimonials {

    position:relative;
    z-index: 1;
    
}

.testimonial-image {

    width: 10%;
    border-radius: 100%;
    margin: 20px;


}

#press {

    
    padding-bottom: 3%;

}

#press img {

    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */

#pricing {

    padding: 100px;

}

.pricing-column {

    padding: 3% 2%;
}



#footer i {

    padding:10px;

}




@media (max-width: 1000px) {


    .nav-link {

        font-size: 2rem;
    }

    .navbar-toggler-icon {
        background-image: none !important;
      }
      .navbar-toggler-icon::before {
        font-family: FontAwesome;
        content: "\f0c9"; /* fa-bars, fa-navicon */
      }

      .navbar {
        padding-left: 0%;
        padding-right: 0;
        margin: 0px 0px 60px 0px;
        text-align: right;
      }

      #IphoneImage {
        position:static;
        transform: rotate(0deg);
        }
        .row {
            text-align: center;
        }
    
    #btn-back-to-top {
    
        display:none;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 70%;
    border: 1px solid lightgray;
  }
