#title {

    background-color:#ff4c68;
}


.navbar{
    
    padding-left:0%;
    margin: 40px 120px 60px 0px;
}

.navbar-brand {

    font-family: "Ubuntu";
    font-size: 2rem;
    
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color:white;
}

.container-fluid {

    padding: 3% 15%;
}



#IphoneImage {

    transform: rotate(20deg);
    width: 300px;
    height: auto;
    margin:40px;
    
    
}